
<mat-card class="demo-panel">
    <mat-card-title>
      Angular Material Sidenav Demo
    </mat-card-title>
    <mat-card-content>
      <mat-sidenav-container class="example-container">
  
        <mat-sidenav #sidenav class="example-sidenav" mode="push">
            <mat-list>
                <mat-list-item> Pepper </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item> Salt </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item> Paprika </mat-list-item>
                
               </mat-list>
        </mat-sidenav>
      
        <div class="example-sidenav-content">
          <button type="button" mat-button (click)="sidenav.open()">
            Open Sidenav
          </button>
        </div>
      
      </mat-sidenav-container>
      
    </mat-card-content>
  </mat-card>